@import "tailwindcss";

html,
body,
:root {
  height: 100%;
  width: 100%;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: Arial, Helvetica, sans-serif;
  /* height: 100%; */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-handwriting: var(--font-handwriting);
  --font-indie-flower: var(--font-indie-flower);
  --font-gloria-hallelujah: var(--font-gloria-hallelujah);
  --font-handlee: var(--font-handlee);
  --font-bad-script: var(--font-bad-script);
  --font-playfair-display: var(--font-playfair-display);
  --font-baskervville: var(--font-baskervville);
  --font-jost: var(--font-jost);

  --color-myPink: #ffc0cb;
  --color-myPinkDark: #df7e8e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

root {
  /* background-color: red; */
}

/* .page {
  position: relative;
  z-index: 1;
  background: white;
} */

.odd-page {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0) 5%
  );
  /* border-width: 4px;
  border-left-width: 0; */
}

.even-page {
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.12) 0%,
    rgba(0, 0, 0, 0) 5%
  );
  /* border-width: 4px;
  border-right-width: 0; */
}

.page-wrapper {
  /* position: relative; */
}

.odd-page {
  box-shadow:
    inset -2px -2px 0 #dbdbdbf6,
    inset -3px -3px 0 white,
    inset -4px -4px 0 #dbdbdbf6,
    inset -5px -5px 0 white,
    inset -6px -6px 0 #dbdbdbf6,
    inset -7px 0 0 white,
    inset -8px 0 0 #dbdbdbf6,
    inset -9px 0 0 white,
    inset -10px 0 0 #dbdbdbf6;
}

.even-page {
  box-shadow:
    inset 2px -2px 0 #dbdbdbf6,
    inset 3px -3px 0 white,
    inset 4px -4px 0 #dbdbdbf6,
    inset 5px -5px 0 white,
    inset 6px -6px 0 #dbdbdbf6,
    inset 7px 0 0 white,
    inset 8px 0 0 #dbdbdbf6,
    inset 9px 0 0 white,
    inset 10px 0 0 #dbdbdbf6;
}

.cover {
  background: #ffc0cb;

  /* background: #df7e8e; */

  /* background: #09a709; */

  border-radius: 3px;
  box-shadow:
    inset 4px 1px 3px #ffffff54,
    inset 0 -1px 2px #00000080;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.cover-inside {
  margin: 5px;
  padding: 5px;
  border: 2px solid red;
  color: #fabac5;
}

.cover-inside-front {
  background-color: #f8c7cf;
  box-shadow: inset -5px 0 8px -8px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  border: #facbd3 solid 3px;
  border-right: none;
}

.cover-inside-back {
  background-color: #f8c7cf;
  box-shadow: inset 5px 0 8px -8px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  border: #facbd3 solid 3px;
  border-left: none;
}

.barcode {
  background-image: linear-gradient(
    to right,
    white 0% 2%,
    black 2% 3%,

    white 3% 5%,
    black 5% 7%,

    white 7% 8%,
    black 8% 10%,

    white 10% 13%,
    black 13% 14%,

    white 14% 17%,
    black 17% 19%,

    white 19% 21%,
    black 21% 22%,

    white 22% 25%,
    black 25% 28%,

    white 28% 30%,
    black 30% 31%,

    white 31% 34%,
    black 34% 36%,

    white 36% 39%,
    black 39% 40%,

    white 40% 43%,
    black 43% 45%,

    white 45% 48%,
    black 48% 50%,

    white 50% 52%,
    black 52% 53%,

    white 53% 56%,
    black 56% 58%,

    white 58% 61%,
    black 61% 63%,

    white 63% 66%,
    black 66% 67%,

    white 67% 70%,
    black 70% 72%,

    white 72% 75%,
    black 75% 76%,

    white 76% 79%,
    black 79% 81%,

    white 81% 84%,
    black 84% 86%,

    white 86% 89%,
    black 89% 90%,

    white 90% 93%,
    black 93% 95%,

    white 95% 97%,
    black 97% 98%,

    white 98% 100%
  );
}

.barcode::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 120%;
  background-color: black;
  margin: 1;
  margin-left: -2px;
  padding: 0;
}

.barcode::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 3px;
  height: 120%;
  background-color: black;
  margin: 1;
  margin-right: -2px;
  padding: 0;
}

.section-wrapper {
  color: #111827; /* text-gray-900 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  padding: 0.5rem; /* p-2 = 8px */
  gap: 0.5rem; /* gap-2 = 8px */
}

.page-text-wrapper::first-letter {
  font-size: 2rem;
  font-weight: bold;
}

.page-text-wrapper p:not(:first-child) {
  text-indent: 1em;
}

.page-text-wrapper-not-first {
  text-indent: 1em;
}

.flipNext {
  border: 10px solid blue;
  transform-style: preserve-3d;
  transform-origin: left;
  backface-visibility: hidden;
  animation: animateNext 2s ease-in-out;
  animation-fill-mode: forwards;
}

.flipPrev {
  border: 10px solid green;
  transform-style: preserve-3d;
  transform-origin: top;
  backface-visibility: hidden;
  animation: animatePrev 0.8s ease-in-out;
}

@keyframes animateNext {
  0% {
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
  100% {
    transform: perspective(400px) rotateY(-180deg);
    opacity: 0;
  }
}

@keyframes animatePrev {
  100% {
    transform: perspective(400px) rotateX(-180deg);
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .odd-page,
  .even-page {
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0) 5%
    );

    box-shadow:
      inset -2px -2px 0 #dbdbdbf6,
      inset -3px -3px 0 white,
      inset -4px -4px 0 #dbdbdbf6,
      inset -5px -5px 0 white,
      inset -6px -6px 0 #dbdbdbf6,
      inset -7px 0 0 white,
      inset -8px 0 0 #dbdbdbf6,
      inset -9px 0 0 white,
      inset -10px 0 0 #dbdbdbf6;
  }
}
